<div>
	<a ui-sref="login" class="pull-right btn btn-primary btn-outline btn-rounded">Home</a>
	<h2>Overview <small></small></h2>
	<div class="jumbotron">
		<div class="container">
			<h1>Welcome!</h1>
			Quick and Easy is a person to person payment product service. It is a fast and efficient way of sending or receiving money as well as splitting bills or payments<br /><br />
			<p>
				<a ui-sref="new_payments"class="btn btn-primary btn-lg btn-outline btn-rounded">New Payment</a>
			</p>
		</div>
	</div>
</div>